/* Background styling */
.page {
    background-color: #f0f0f0; /* Light grey */
    min-height: 100vh; /* Ensures it covers the full viewport height */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boxB{
    border: solid black ;
    padding: 15%;
  }
  .file-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }
  .custom-file-upload {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  } 
  .custom-file-upload:hover {
    background-color: #0056b3;
  }

  .Bline{
    
  }

  h1 {
    color: black;
    text-decoration: underline;
    text-decoration-color: blue; /* Blue underline */
    text-underline-offset: 5px; /* Adds space between text and underline */
  }

  .file-name {
    font-size: 16px;
    color: #555;
    font-style: italic;
  }
  
  /* Button styling */
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkblue;
  }
  